<#assign className = table.className>
<#assign classNameFirstLower = className?uncap_first>
<#assign classNameLowerCase = className?lower_case>
<#if table.idColumn.javaType =="java.lang.Integer">
<#assign pkJavaType = "java.lang.Long">
<#else>
<#assign pkJavaType = table.idColumn.javaType>
</#if>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:replace="common/model::header"></header>

<body>
<div th:replace="common/model::script"></div>

<div class="row" style="margin:0px;">
	<div class="col-sm-12" style="padding:0px;">
		<div class="panel panel-primary" style="margin-bottom:1px;">


			<div class="panel-heading">
				<h3 class="panel-title"><i class="icon-list"></i> [[#\{${classNameFirstLower}.htitle.edit}]]</h3>
			</div>
			<div class="panel-body" style="background-color:#EEEEEE;padding:8px;">
				<link th:href="@{/resource/css/datepicker.css}"
					  rel="stylesheet"/>
				<link th:href="@{/resource/css/jquery.validator.css}"
					  rel="stylesheet"/>
				<script type="text/javascript"
						th:src="@{/resource/js/jquery.validator.js}"></script>
				<script type="text/javascript"
						th:src="@{/resource/js/bootstrap-datepicker.min.js}"></script>
				<script type="text/javascript"
						th:src="@{|/resource/js/i18n/jquery.validator.#\{locale}.js|}"></script>
				<script type="text/javascript"
						th:src="@{|/resource/js/i18n/datepicker/bootstrap-datepicker.#\{locale}.js|}"></script>
				<script type="text/javascript">
                    $(function () {

                        $('#contentForm').validator({
                            theme: "yellow_right"
                        });


                    });
				</script>
<div class="highlight">
	<form class="form-horizontal" role="form" th:action="@{|/${modulName}/${classNameFirstLower}/$\{method}.do|}" id="contentForm" method="post">
		<@generateNotPkResult/>

		<div class="form-group">

			<div class="col-sm-offset-3 col-sm-1 text-right">

				<button type="submit" class="btn btn-primary" th:text="#\{common.submit}">

				</button>
			</div>

			<div class="col-sm-8 text-left">
				<a th:href="@{/${modulName}/${classNameFirstLower}/list.do}" class="btn" th:text="#\{common.back}"></a>
			</div>
		</div>

	</form>
</div>

<#macro generateNotPkResult>
<#list table.columns as column>
<#if column.pk>

	<input type="hidden" id="id" name="id"  style="width:220px;" th:value="$\{dataObj.id}" th:if="$\{dataObj.id != null }"/>

<#else>
<#if column.isDateTimeColumn>
<div class="form-group ">
	<label for="${column.columnNameFirstLower}" class="col-sm-3 control-label">[[#\{${classNameFirstLower}.${column.columnNameFirstLower}}]]:<span class="red">*</span></label>
	<div class="col-sm-4">
		<input type="text" class="input-sm" name="${column.columnNameFirstLower}" id="${column.columnNameFirstLower}"
			   th:placeholder="#\{${classNameFirstLower}.${column.columnNameFirstLower}.placeholder}" data-rule="required" style="width:220px;" th:value="$\{#dates.format(dataObj.${column.columnNameFirstLower}, 'yyyy-MM-dd')}">
	</div>
	<div class="col-sm-5"></div>
</div>
<#else>
<div class="form-group ">
	<label for="${column.columnNameFirstLower}" class="col-sm-3 control-label">[[#\{${classNameFirstLower}.${column.columnNameFirstLower}}]]:<span class="red">*</span></label>
	<div class="col-sm-4">
		<input type="text" class="input-sm" name="${column.columnNameFirstLower}" id="${column.columnNameFirstLower}"
			   th:placeholder="#\{${classNameFirstLower}.${column.columnNameFirstLower}.placeholder}" data-rule="required" style="width:220px;" th:value="$\{dataObj.${column.columnNameFirstLower}}">
	</div>
	<div class="col-sm-5"></div>
</div>
</#if>

</#if>
</#list>
</#macro>
<#macro generateDateColumn>
<#list table.columns as column>
<#if column.isDateTimeColumn>
$('#${column.columnNameFirstLower}').datepicker({
autoclose:true,
clearBtn:true,
todayBtn:true,
todayHighlight:true,
format:"yyyy-mm-dd"
}).on("hide",function(){
$('#${column.columnNameFirstLower}').trigger("blur")
});


</#if>
</#list>
</#macro>